@media (max-width: 992px) {
  header {
    padding: 20px;
  }

  header .logo {
    font-size: 1.5sem;
  }
  header ul.navbar {
    display: none;
  }
  header ul.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: black;
  }

  header ul.navbar li {
    margin-left: 0;
  }

  header ul.navbar li a {
    font-size: 1.2em;
    margin: 5px 0;
    border-radius: 30px;
    display: inline-block;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
  }
}

.toggle.active {
  background: url(close.png);
  background-size: 30px;
  background-position: center;
  background-position: no-repeat;
}
